<label *ngIf="mes">
  <input type="checkbox" class="alertCheckbox" autocomplete="off" />
  <div class="alertt info">
    <span class="alertText">{{mes}}</span>
  </div>
</label>

<mat-card class="example-card" style="margin-top: 16px;">
  <mat-card-header>
    <mat-card-title *ngIf="offer !== undefined">{{offer.hotelBrief.country}}</mat-card-title>
    <mat-card-subtitle *ngIf="offer !== undefined">{{offer.hotelBrief.name}} {{offer.hotelBrief.standard}}stars
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <div class="row" style="margin-bottom: 16px;">
      <div class="col-md-2">
        <span class="list-group-item ">Start date</span>
        <span class="list-group-item ">End date</span>
        <span class="list-group-item ">Number of offers</span>
        <span class="list-group-item ">Price</span>
        <span class="list-group-item ">Flight code</span>
      </div>
      <div class="col-md-10">
        <span class="list-group-item" *ngIf="offer !== undefined">{{offer.startDate | date: 'dd.MM.yyyy'}}</span>
        <span class="list-group-item" *ngIf="offer !== undefined">{{offer.endDate | date: 'dd.MM.yyyy'}}</span>
        <span class="list-group-item" *ngIf="offer !== undefined">{{offer.numberOfOffers}}</span>
        <span class="list-group-item" *ngIf="offer !== undefined">{{offer.suggestedPrice}}</span>
        <span class="list-group-item" *ngIf="chooseFlight !== undefined">{{chooseFlight}}</span>
      </div>
    </div>

    <mat-card-header>
      <mat-card-subtitle>Flights:</mat-card-subtitle>
    </mat-card-header>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="outboundFlightAirport">
        <th mat-header-cell *matHeaderCellDef>Outbound Flight</th>
        <td mat-cell *matCellDef="let element"> {{element.outboundFlight.departureAirportName }}  </td>
      </ng-container>

      <ng-container matColumnDef="returnFlightAirport">
        <th mat-header-cell *matHeaderCellDef>Return Flight</th>
        <td mat-cell *matCellDef="let element"> {{element.returnFlight.departureAirportName}} </td>
      </ng-container>

      <ng-container matColumnDef="choose">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="chooseFlightCode(element.outboundFlight.departureAirportName)">Choose</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <form class="example-form" style="margin-top: 30px;" (ngSubmit)="bookOffer()" #offerForm="ngForm">
      <mat-form-field class="example-full-width">
        <mat-label>Number of offers</mat-label>
        <input matInput (change)="calculateCost($event)" [(ngModel)]="numberOfOffers" name="numberOfOffers">
      </mat-form-field>

      <mat-form-field class="example-full-width" *ngIf="hotel !== undefined">
        <mat-label>Single rooms number ({{hotel.numSingleRooms}} available)</mat-label>
        <input matInput [(ngModel)]="singleRoomsNumber" name="singleRoomsNumber">
      </mat-form-field>

      <mat-form-field class="example-full-width" *ngIf="hotel !== undefined">
        <mat-label>Double rooms number ({{hotel.numDoubleRooms}} available)</mat-label>
        <input matInput [(ngModel)]="doubleRoomsNumber" name="doubleRoomsNumber">
      </mat-form-field>

      <mat-form-field class="example-full-width" *ngIf="hotel !== undefined">
        <mat-label>Triple rooms number ({{hotel.numTripleRooms}} available)</mat-label>
        <input matInput [(ngModel)]="tripleRoomsNumber" name="tripleRoomsNumber">
      </mat-form-field>

      <mat-form-field class="example-full-width" *ngIf="hotel !== undefined">
        <mat-label>No. with age range ({{hotel.ageRange0.lowerBound}} - {{hotel.ageRange0.upperBound}}):
           {{hotel.ageRange0.pricePerNight}}$)
        </mat-label>
        <input matInput [(ngModel)]="ageRange0NumberOfPeople" (change)="calculateCost($event)" name="ageRange0NumberOfPeople">
      </mat-form-field>

      <mat-form-field class="example-full-width" *ngIf="hotel !== undefined">
        <mat-label>No. with age range ({{hotel.ageRange1.lowerBound}} - {{hotel.ageRange1.upperBound}}):
           {{hotel.ageRange1.pricePerNight}}$)
        </mat-label>
        <input matInput  [(ngModel)]="ageRange1NumberOfPeople" (change)="calculateCost($event)" name="ageRange1NumberOfPeople">
      </mat-form-field>

      <mat-form-field class="example-full-width" *ngIf="hotel !== undefined">
        <mat-label>No. with age range ({{hotel.ageRange2.lowerBound}} - {{hotel.ageRange2.upperBound}}):
           {{hotel.ageRange2.pricePerNight}}$)
        </mat-label>
        <input matInput  [(ngModel)]="ageRange2NumberOfPeople" name="ageRange2NumberOfPeople">
      </mat-form-field>
      <mat-card-actions>
        <button mat-stroked-button type="submit" [disabled]="offerForm.form.invalid">Book</button>
      </mat-card-actions>

    </form>


  </mat-card-content>
</mat-card>
