<div style="background: rgba(0, 0, 0, 0.1)" class="p-3 my-3">
  <div>
    <div>
      <img src="assets/airplane.svg" style="width: 25px; height: auto">
      <span class="list-group-item fw-bold">{{ offer.hotel.country }}</span>
      <span class="list-group-item">{{ offer.hotel.name }}</span>
      <span class="list-group-item" style="display: inline;">{{ offer.departure.departure.date }}
        - {{ offer.arrival.arrival.date }}</span>
    </div>
    <button type="button" class="btn border-1 border-dark" [routerLink]="[index]">Details</button>
  </div>
</div>

