<div class="row">

  <form [formGroup]="searchForm" class="search__form" style="margin-top: 16px;">

    <mat-form-field class="search__form_field" appearance="outline" style="margin: 16px;">
      <mat-label>Country</mat-label>
      <input type="text"
             aria-label="Country"
             matInput
             formControlName="country"
             (keyup)="applyFilter()"
      >
    </mat-form-field>

    <mat-form-field class="search__form_field" appearance="outline" style="margin: 16px;">
      <mat-label>Number of offers</mat-label>
      <input type="text"
             aria-label="Number of offers"
             matInput
             formControlName="numberOfOffers"
             (keyup)="applyFilter()"
      >
    </mat-form-field>


    <mat-form-field class="search__form_field" appearance="outline" style="margin: 16px;">
      <mat-label>Start date from</mat-label>
      <input matInput
             formControlName="startDate"
             [matDatepicker]="picker"
             (dateInput)="applyFilter()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </form>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- ID Column -->
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef> Country</th>
        <td mat-cell *matCellDef="let row"> {{row.hotel.country}} </td>
      </ng-container>

      <ng-container matColumnDef="numberOfOffers">
        <th mat-header-cell *matHeaderCellDef> Number of offers</th>
        <td mat-cell *matCellDef="let row"> {{row.numberOfOffers}} </td>
      </ng-container>


      <!-- Progress Column -->
      <ng-container matColumnDef="departure">
        <th mat-header-cell *matHeaderCellDef> Start Date</th>
        <td mat-cell *matCellDef="let row"> {{row.startDate | date: 'dd.MM.yyyy'}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="arrival">
        <th mat-header-cell *matHeaderCellDef> End Date</th>
        <td mat-cell *matCellDef="let row"> {{row.endDate | date: 'dd.MM.yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> Details</th>
        <td mat-cell *matCellDef="let row">
          <button mat-button [routerLink]="[row.id]">Show more information</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>

</div>
